*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primary Colours  */
  --orange-500: hsl(25, 97%, 53%);

  /* Secondary Colours  */
  --white: hsl(0, 100%, 100%);
  --grey-500: hsl(217, 12%, 63%);
  --grey-900: hsl(213, 19%, 18%);
  --grey-925: hsl(213, 19%, 23%);
  --grey-950: hsl(216, 12%, 8%);

  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-5: 1.25rem;
  --space-6: 1.5rem;
  --space-7: 1.75rem;
  --space-8: 2rem;
  --space-10: 2.5rem;
}

body {
  font-family: "Overpass", sans-serif;
  background-color: var(--grey-950);
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.component,
.component-thank-you {
  background-color: var(--grey-900);
  width: 400px;
  height: 400px;
  padding: var(--space-8);
  border-radius: var(--space-8);
}

.component-thank-you {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  gap: var(--space-8);
}

.star-image {
  background-color: var(--grey-925);
  width: 50px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: var(--space-8);
}

.message h1,
.thank-you-heading {
  margin-bottom: var(--space-4);
  color: var(--white);
  font-weight: 400;
  font-size: 1.6rem;
}

.feedback-message,
.thank-you-message {
  color: var(--grey-500);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: var(--space-4);
}

.thank-you-message {
  margin-bottom: var(--space-2);
}
.rating-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--space-8);
}

.btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--grey-925);
  color: var(--grey-500);
  font-weight: 700;
  border: none;
}

.btn:hover {
  background-color: var(--orange-500);
  font-weight: 700;
  font-size: 18px;
  color: var(--grey-950);
}

.btn.active {
  background-color: var(--white);
  color: var(--grey-950);
}

button[type="submit"] {
  width: 100%;
  background-color: var(--orange-500);
  color: var(--grey-950);
  text-transform: uppercase;
  padding: var(--space-4) var(--space-8);
  border-radius: 40px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 2px;
}

button[type="submit"]:hover {
  background-color: var(--white);
}

/* Thank you page  */

.thank-you-illustration {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-2);
}

.rating-display {
  margin-top: var(--space-4);
  color: var(--orange-500);
  background-color: var(--grey-925);
  width: fit-content;
  text-align: center;
  padding: var(--space-2) var(--space-4);
  border-radius: 20px;
}
